<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi et nihil quam ducimus dicta aspernatur architecto eius cupiditate quas aliquam?</p>
    </div>
</section>