<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate necessitatibus ex quos odio iure doloribus suscipit commodi consequuntur, et vel optio ullam repellendus a saepe blanditiis asperiores eveniet nobis rem.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ullam debitis magnam dolorum quas similique illo itaque at sunt libero.</p>
    <a href="#" class="btn btn-primary">Sign In</a>
</div>