<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    {{#if isAuthenticated}}
      <a class="navbar-brand" href="/notes">Notes App</a>
    {{else}}
      <a class="navbar-brand" href="/users/login">Notes App</a>
    {{/if}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <!-- BOOTSTRAP 4 -->
        {{#if isAuthenticated}}
          <li class="nav-item">
            <a href="/notes/add" class="nav-link">Add a note</a>
          </li>
          <li class="nav-item">
            <a href="/users/logout" class="nav-link">Log out</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/users/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/users/register" class="nav-link">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>