<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/users/register" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" value="{{confirm_password}}">
                    </div>
                    <button class="btn btn-primary btn-block">
                        Sign Up
                    </button>
                </form>
            </div>
            <div class="alert alert-secondary mx-3" role="alert">
                <span>Already have an account? <a href="/users/login" class="alert-link">Log in.</a></span>
            </div>
        </div>
    </div>
</div>